---
---

@import "{{ site.theme }}";

.app-icon {
  height:186px;
  width:186px;
}
.skill-image{
  height:110px;
  width:110px;
  padding:25px;
}
@media only screen and (max-width: 600px) {
  .skill-image{
    height: 100%;
    width: 20%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.header-1{
  padding-top:15px;
}
.navbar{
  display:inline;
}
